.ipynb_checkpoints/
*__pycache__
*build
*.egg-info
*.swp
*.h5
tags
dask_log
dask_tmp
testing
*.swo
*.dirlock
*.lock
*.pdf
*.png

analyze_silica.sh
dask-log-wo-mp.tar.gz
dask-log.tar.gz
data/
docs/H5-Contents.ipynb
docs/centreOptimiser-tutorial.ipynb
docs/focal-point-silica-50.ipynb
docs/focal-point-silica.ipynb
docs/focal-point-vycor.ipynb
docs/geoAssembler/
docs/lotz-positions-silica.html
docs/lotz-positions.html
docs/main.ipynb
docs/statistical-analysis-and-data-selection.ipynb
docs/testing.ipynb
midtools/setup_config/combined_mask.npy
midtools/setup_config/cryo_mask.npy
midtools/setup_config/geo_assembled_3a.geom
midtools/setup_config/setup-silica-20nm.yml
midtools/setup_config/setup-silica-50nm.yml
midtools/setup_config/setup-silica-focus.yml
midtools/setup_config/setup-vycor-focus.yml
midtools/test_dask.py
silica-20nm/
silica-50nm/
vycor/
midtools/setup_config/agipd_mask_03.npy
midtools/setup_config/detailed_pixel_mask.npy
midtools/setup_config/flatfield_mask.npy
